# Test name: qa_test_11

##### Reason for test:  
To test more complicated distributions where there are three supply points and demand points in a ring surrounding it - here each supply has 36 demand points to test the robustness of the algorthm in much more computationally intensive cases - the layout is the same as the previous case (with the same proportional split) this case the top supply can only support 1/8 of the demand, and the middle 1/6 - leaving the others to be redistributed to the final bottom supply which is large enough to take on the extra demand.

This is further demonstrate how the algorithm is deciding which points to reassign to the bottom (theory is still furthest East/West due to minimising angles from vertical).

##### Parameters

Three supplies - vertically aligned - 150km apart

36 demands for each supply - in an even circle - a fixed distance away (50km)

Capacities - A - supply capable of sustaining 1/8 of demand points, B - supply capable of sustaining 1/6 of demand points, C - supply capable of sustaining 18 demand points.

##### Predicted outcome:
Previous logic of minimising the furthest away points first does not produce the optimal results.

New theory is that angles away from the vertical should be minimsed - so therefore points furthest to the east and west will be assigned to the bottom supply, as before the top most points will be assigned to the top most supply.

In [5]:
import pandas as pd
import psycopg2
import random
import os
from utilities import generate_point_dict 
from utilities import locate_supplies
from utilities import calculate_distances
dir = os.getcwd()
parent_directory = os.path.split(os.path.split(dir)[0])[0]

An example of what the csv data should look like (see column naming)

In [6]:
pd.read_csv(parent_directory + "/web/data/datasets/data.csv", nrows=2)

,demand,demand_id,demand_lat,demand_lng,demand_name,supply,supply_id,supply_lat,supply_lng,supply_name,duration_min,distance_crowflies_km,distance_route_km
0,11.662019,0,50.920128,-2.670739,Green Ln,35.689500,0,51.749314,-0.240863,Roehyde Way,158.883333,192.761855,235.458
1,11.662019,0,50.920128,-2.670739,Green Ln,28.249443,1,50.815128,-2.273901,Deer Park,48.433333,30.269113,50.560

The method for locating demands will change depending on the scenario and the locate_demands function may be different for each different test.

In [7]:
def locate_demands(supply_df, num_demands_per_supply, dem_distances_km, dem_bearings_degrees, demand_vol, conn):
    demands = []
    supply_counter = 0

    for supply_dict in supply_df.to_dict(orient="records"):
        this_supply = {"lat":supply_dict["supply_lat"], "lng": supply_dict["supply_lng"]}
        for i in range(num_demands_per_supply):
            distance_km = random.choice(dem_distances_km)
            bearing_degrees = dem_bearings_degrees[i]
            this_demand = generate_point_dict(this_supply, bearing_degrees, distance_km, conn)
            this_demand["demand"] = random.choice(demand_vol)
            this_demand["demand_name"] = "demand" + str(supply_counter + i)
            demands.append(this_demand)
        supply_counter = supply_counter + num_demands_per_supply

    demands_df = pd.DataFrame(demands).reset_index()
    demands_df.columns=["demand_id", "demand", "demand_name", "demand_lat", "demand_lng"]
    return(demands_df)

### Run from here to create a new test data set based on the parameters which can be changed below.

In [8]:
# Naming parameters
output_name = "qa_data_11"

# Supply parameters
num_supplies = 3
sup_distances_km = [0, 150, 300]
sup_bearings_degrees = [0, 0, 0]
supply_vol = [8000, 1800, 1400]

# Demand parameters
num_demands_per_supply = 36
dem_distances_km = [50, 50, 50, 50, 50, 50, 50, 50]
dem_bearings_degrees = list(range(0, 360, int((360/num_demands_per_supply)))) # Demands will be taken at these exact degrees for each supply
demand_vol = [100]

# Misc
scale = 1 # Used to scale demand to be a proportion of supply (1 by default)

In [9]:
conn = "host='localhost' dbname='postgres' user='postgres' password=''"
conn = psycopg2.connect(conn)

supply_df = locate_supplies(num_supplies, sup_distances_km, sup_bearings_degrees, supply_vol, conn)
demands_df = locate_demands(supply_df, num_demands_per_supply, dem_distances_km, dem_bearings_degrees, demand_vol, conn)

In [10]:
supply_df

   supply_id  supply_lat  supply_lng  supply supply_name
0          0   51.501109   -1.242375    8000     supply0
1          1   52.849173   -1.242375    1800     supply1
2          2   54.196930   -1.242375    1400     supply2

In [11]:
demands_df

     demand_id  demand demand_name  demand_lat  demand_lng
0            0     100     demand0   51.950498   -1.242375
1            1     100     demand1   51.943604   -1.116113
2            2     100     demand2   51.923137   -0.993800
3            3     100     demand3   51.889736   -0.879250
4            4     100     demand4   51.844443   -0.776017
5            5     100     demand5   51.788668   -0.687275
6            6     100     demand6   51.724141   -0.615717
7            7     100     demand7   51.652854   -0.563476
8            8     100     demand8   51.577000   -0.532065
9            9     100     demand9   51.498899   -0.522340
10          10     100    demand10   51.420931   -0.534487
11          11     100    demand11   51.345458   -0.568028
12          12     100    demand12   51.274754   -0.621850
13          13     100    demand13   51.210942   -0.694249
14          14     100    demand14   51.155929   -0.782992
15          15     100    demand15   51.111352   -0.885384
16          16     100    demand16   51.078534   -0.998352
17          17     100    demand17   51.058448   -1.118535
18          18     100    demand18   51.051685   -1.242375
19          19     100    demand19   51.058448   -1.366215
20          20     100    demand20   51.078534   -1.486398
21          21     100    demand21   51.111352   -1.599366
22          22     100    demand22   51.155929   -1.701758
23          23     100    demand23   51.210942   -1.790501
24          24     100    demand24   51.274754   -1.862900
25          25     100    demand25   51.345458   -1.916722
26          26     100    demand26   51.420931   -1.950263
27          27     100    demand27   51.498899   -1.962410
28          28     100    demand28   51.577000   -1.952685
29          29     100    demand29   51.652854   -1.921274
..         ...     ...         ...         ...         ...
78          78     100    demand78   54.419688   -0.575315
79          79     100    demand79   54.348404   -0.519823
80          80     100    demand80   54.272565   -0.486522
81          81     100    demand81   54.194494   -0.476308
82          82     100    demand82   54.116569   -0.489363
83          83     100    demand83   54.041151   -0.525162
84          84     100    demand84   53.970510   -0.582509
85          85     100    demand85   53.906764   -0.659581
86          86     100    demand86   53.851815   -0.753996
87          87     100    demand87   53.807295   -0.862888
88          88     100    demand88   53.774522   -0.982994
89          89     100    demand89   53.754464   -1.110747
90          90     100    demand90   53.747712   -1.242375
91          91     100    demand91   53.754464   -1.374003
92          92     100    demand92   53.774522   -1.501756
93          93     100    demand93   53.807295   -1.621862
94          94     100    demand94   53.851815   -1.730754
95          95     100    demand95   53.906764   -1.825169
96          96     100    demand96   53.970510   -1.902241
97          97     100    demand97   54.041151   -1.959588
98          98     100    demand98   54.116569   -1.995387
99          99     100    demand99   54.194494   -2.008442
100        100     100   demand100   54.272565   -1.998228
101        101     100   demand101   54.348404   -1.964927
102        102     100   demand102   54.419688   -1.909435
103        103     100   demand103   54.484223   -1.833350
104        104     100   demand104   54.540012   -1.738936
105        105     100   demand105   54.585321   -1.629057
106        106     100   demand106   54.618738   -1.507097
107        107     100   demand107   54.639216   -1.376845

[108 rows x 5 columns]

In [9]:
# Scale supply capacity so that supply>demand by "scale" (ONLY RUN IF SCALING REQUIRED)
#supply_df["supply"] = supply_df["supply"]* demands_df["demand"].sum()/supply_df["supply"].sum()*scale

In [12]:
# Cartestian product
supply_df["cart"] = 1
demands_df["cart"] = 1
all_combos = demands_df.merge(supply_df)
all_combos = all_combos.drop("cart", axis=1)
all_combos

,demand_id,demand,demand_name,demand_lat,demand_lng,supply_id,supply_lat,supply_lng,supply,supply_name
0,0,100,demand0,51.950498,-1.242375,0,51.501109,-1.242375,8000,supply0
1,0,100,demand0,51.950498,-1.242375,1,52.849173,-1.242375,1800,supply1
2,0,100,demand0,51.950498,-1.242375,2,54.196930,-1.242375,1400,supply2
3,1,100,demand1,51.943604,-1.116113,0,51.501109,-1.242375,8000,supply0
4,1,100,demand1,51.943604,-1.116113,1,52.849173,-1.242375,1800,supply1
5,1,100,demand1,51.943604,-1.116113,2,54.196930,-1.242375,1400,supply2
6,2,100,demand2,51.923137,-0.993800,0,51.501109,-1.242375,8000,supply0
7,2,100,demand2,51.923137,-0.993800,1,52.849173,-1.242375,1800,supply1
8,2,100,demand2,51.923137,-0.993800,2,54.196930,-1.242375,1400,supply2
9,3,100,demand3,51.889736,-0.879250,0,51.501109,-1.242375,8000,supply0
10,3,100,demand3,51.889736,-0.879250,1,52.849173,-1.242375,1800,supply1
11,3,100,demand3,51.889736,-0.879250,2,54.196930,-1.242375,1400,supply2
12,4,100,demand4,51.844443,-0.776017,0,51.501109,-1.242375,8000,supply0
13,4,100,demand4,51.844443,-0.776017,1,52.849173,-1.242375,1800,supply1
14,4,100,demand4,51.844443,-0.776017,2,54.196930,-1.242375,1400,supply2
15,5,100,demand5,51.788668,-0.687275,0,51.501109,-1.242375,8000,supply0
16,5,100,demand5,51.788668,-0.687275,1,52.849173,-1.242375,1800,supply1
17,5,100,demand5,51.788668,-0.687275,2,54.196930,-1.242375,1400,supply2
18,6,100,demand6,51.724141,-0.615717,0,51.501109,-1.242375,8000,supply0
19,6,100,demand6,51.724141,-0.615717,1,52.849173,-1.242375,1800,supply1
20,6,100,demand6,51.724141,-0.615717,2,54.196930,-1.242375,1400,supply2
21,7,100,demand7,51.652854,-0.563476,0,51.501109,-1.242375,8000,supply0
22,7,100,demand7,51.652854,-0.563476,1,52.849173,-1.242375,1800,supply1
23,7,100,demand7,51.652854,-0.563476,2,54.196930,-1.242375,1400,supply2
24,8,100,demand8,51.577000,-0.532065,0,51.501109,-1.242375,8000,supply0
25,8,100,demand8,51.577000,-0.532065,1,52.849173,-1.242375,1800,supply1
26,8,100,demand8,51.577000,-0.532065,2,54.196930,-1.242375,1400,supply2
27,9,100,demand9,51.498899,-0.522340,0,51.501109,-1.242375,8000,supply0
28,9,100,demand9,51.498899,-0.522340,1,52.849173,-1.242375,1800,supply1
29,9,100,demand9,51.498899,-0.522340,2,54.196930,-1.242375,1400,supply2
...,...,...,...,...,...,...,...,...,...,...
294,98,100,demand98,54.116569,-1.995387,0,51.501109,-1.242375,8000,supply0
295,98,100,demand98,54.116569,-1.995387,1,52.849173,-1.242375,1800,supply1
296,98,100,demand98,54.116569,-1.995387,2,54.196930,-1.242375,1400,supply2
297,99,100,demand99,54.194494,-2.008442,0,51.501109,-1.242375,8000,supply0
298,99,100,demand99,54.194494,-2.008442,1,52.849173,-1.242375,1800,supply1
299,99,100,demand99,54.194494,-2.008442,2,54.196930,-1.242375,1400,supply2
300,100,100,demand100,54.272565,-1.998228,0,51.501109,-1.242375,8000,supply0
301,100,100,demand100,54.272565,-1.998228,1,52.849173,-1.242375,1800,supply1
302,100,100,demand100,54.272565,-1.998228,2,54.196930,-1.242375,1400,supply2
303,101,100,demand101,54.348404,-1.964927,0,51.501109,-1.242375,8000,supply0
304,101,100,demand101,54.348404,-1.964927,1,52.849173,-1.242375,1800,supply1
305,101,100,demand101,54.348404,-1.964927,2,54.196930,-1.242375,1400,supply2
306,102,100,demand102,54.419688,-1.909435,0,51.501109,-1.242375,8000,supply0
307,102,100,demand102,54.419688,-1.909435,1,52.849173,-1.242375,1800,supply1
308,102,100,demand102,54.419688,-1.909435,2,54.196930,-1.242375,1400,supply2
309,103,100,demand103,54.484223,-1.833350,0,51.501109,-1.242375,8000,supply0
310,103,100,demand103,54.484223,-1.833350,1,52.849173,-1.242375,1800,supply1
311,103,100,demand103,54.484223,-1.833350,2,54.196930,-1.242375,1400,supply2
312,104,100,demand104,54.540012,-1.738936,0,51.501109,-1.242375,8000,supply0
313,104,100,demand104,54.540012,-1.738936,1,52.849173,-1.242375,1800,supply1
314,104,100,demand104,54.540012,-1.738936,2,54.196930,-1.242375,1400,supply2
315,105,100,demand105,54.585321,-1.629057,0,51.501109,-1.242375,8000,supply0
316,105,100,demand105,54.585321,-1.629057,1,52.849173,-1.242375,1800,supply1
317,105,100,demand105,54.585321,-1.629057,2,54.196930,-1.242375,1400,supply2
318,106,100,demand106,54.618738,-1.507097,0,51.501109,-1.242375,8000,supply0
319,106,100,demand106,54.618738,-1.507097,1,52.849173,-1.242375,1800,supply1
320,106,100,demand106,54.618738,-1.507097,2,54.196930,-1.242375,1400,supply2
321,107,100,demand107,54.639216,-1.376845,0,51.501109,-1.242375,8000,supply0
322,107,100,demand107,54.639216,-1.376845,1,52.849173,-1.242375,1800,supply1
323,107,100,demand107,54.639216,-1.376845,2,54.196930,-1.242375,1400,supply2

In [13]:
# Calculate the crowflies distances for each combination
all_combos = calculate_distances(all_combos, conn)
all_combos.head(10)

,demand_id,demand,demand_name,demand_lat,demand_lng,supply_id,supply_lat,supply_lng,supply,supply_name,duration_min,distance_crowflies_km,distance_route_km
0,0,100,demand0,51.950498,-1.242375,0,51.501109,-1.242375,8000,supply0,49.983150,49.983150,49.983150
1,0,100,demand0,51.950498,-1.242375,1,52.849173,-1.242375,1800,supply1,99.966210,99.966210,99.966210
2,0,100,demand0,51.950498,-1.242375,2,54.196930,-1.242375,1400,supply2,249.915294,249.915294,249.915294
3,1,100,demand1,51.943604,-1.116113,0,51.501109,-1.242375,8000,supply0,49.983444,49.983444,49.983444
4,1,100,demand1,51.943604,-1.116113,1,52.849173,-1.242375,1800,supply1,101.099347,101.099347,101.099347
5,1,100,demand1,51.943604,-1.116113,2,54.196930,-1.242375,1400,supply2,250.826201,250.826201,250.826201
6,2,100,demand2,51.923137,-0.993800,0,51.501109,-1.242375,8000,supply0,49.983759,49.983759,49.983759
7,2,100,demand2,51.923137,-0.993800,1,52.849173,-1.242375,1800,supply1,104.390861,104.390861,104.390861
8,2,100,demand2,51.923137,-0.993800,2,54.196930,-1.242375,1400,supply2,253.509314,253.509314,253.509314
9,3,100,demand3,51.889736,-0.879250,0,51.501109,-1.242375,8000,supply0,49.984082,49.984082,49.984082

In [14]:
# Save file to CSV
path = dir + "/qa_data_files/" + str(output_name) + ".csv"
all_combos.to_csv(path, index=False)